In [1]:
import pandas as pd
import requests
import json

In [2]:
data = pd.read_csv('dialect_dataset.csv')
data.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [3]:
Id = [str(data['id'][i]) for i in range(len(data['id']))]

### Retrive the target label

In [4]:
import requests
import json

URL = 'https://recruitment.aimtechnologies.co/ai-tasks'

r = requests.post(URL, data =json.dumps(Id[0:1000]),
                  headers={"Content-Type": "application/json"})

res = r.json()

In [5]:
df1 = pd.DataFrame({'id':res.keys(),'text':res.values()})

In [6]:
URL = 'https://recruitment.aimtechnologies.co/ai-tasks'

def target(df1):
    x = 1000
    y = 2000
    for i in range(459):
        r = requests.post(URL,data =json.dumps(Id[x:y]),
                      headers={"Content-Type": "application/json"})
        res = r.json()
        df2 = pd.DataFrame({'id':res.keys(),'text':res.values()})
        x += 1000
        y += 1000
        
        df1 = df1.append(df2)
        
    return df1

In [ ]:
dataframe = target(df1)

In [ ]:
len(dataframe)

### Merge all data

In [ ]:
dataframe['id'] = dataframe['id'].astype('int64')

In [ ]:
df = pd.merge(data,dataframe,on='id',how='inner')
df

In [ ]:
df.to_csv('dataset.csv')